.layered-card{
 position: relative;

}
.layered-card::before{
 background-color: rgba(0, 0, 0, 0.3);
 content: '';
 top: 0;
 left: 0;
 position: absolute;
 transform: translate(1rem, 1rem);
 height: 100%;
 width: 100%;
 z-index: -1;
}